{{- define "AlertTemplate" -}}
**<font color="black">告警状态: </font>** {{ .AlertStatus }}
**<font color="black">告警级别: </font>** {{ .AlertLevel }}
**<font color="black">环境: </font>** {{ .Env }}
**<font color="black">命名空间/Job: </font>** {{ .NameSpace }} / {{ .Job }}
**<font color="black">PromQL: </font>** {{ .PromQL }}
**<font color="black">告警规则: </font>** {{ .AlertName }}
**<font color="black">摘要: </font>** {{ .Summary }}
**<font color="black">详情: </font>** {{ .Description }}
**<font color="black">开始时间: </font>** {{ .StartsAt.Format "2006-01-02 15:04:05" }}
{{ end }}
